html {
    overflow: hidden;
    height: 100%;
}
body {
    background-color: #151b2f;

    width: 100%;
    height: 100%;

    color: white;

    height: 100%;
    overflow: scroll;

    -webkit-animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

}

/* Block */
.block {
    display: inline-block;

    width: 27%;

    margin-left: 1.2%;
    margin-right: 1.2%;
    margin-top: 2.5%;

    background-color: rgb(0, 0, 0);

    font-family: Arial, Helvetica, sans-serif;

    padding: 1.5rem;

    border-radius: 2rem;
}
.block h1 {
    margin-top: 1%;

    font-size: 1.5rem;

    color: white;
}
.block h2 {
    font-size: 1.5rem;

    color: white;
}
.block p {
    color: white;
}

/* Button */
button {
    background-color: black; /* Green */
    color: white;

    padding: 15px 32px;

    text-align: center;
    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    border-radius: 20px;
    border: none;

    cursor: pointer;
}
.block button {
    background-color: white;

    color: black;

    font-size: x-large;
}
.back {
    background-color: #151b2f;

    color: white;

    width: 10%;

    font-size: 3rem;
}

/* Input */
input {
    border: none;
}

/* Load In Animation */
@-webkit-keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px)scaleY(2.5)scaleX(0.2);transform:translateY(-1000px)scaleY(2.5)scaleX(0.2);-webkit-transform-origin:50%0%;transform-origin:50%0%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0)scaleY(1)scaleX(1);transform:translateY(0)scaleY(1)scaleX(1);-webkit-transform-origin:50%50%;transform-origin:50%50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px)scaleY(2.5)scaleX(0.2);transform:translateY(-1000px)scaleY(2.5)scaleX(0.2);-webkit-transform-origin:50%0%;transform-origin:50%0%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0)scaleY(1)scaleX(1);transform:translateY(0)scaleY(1)scaleX(1);-webkit-transform-origin:50%50%;transform-origin:50%50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}